@model IEnumerable<TimeWasted.Models.ShowListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShowId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeasonNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EpisodesPerSeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EpisodeLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorthIt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Watchedbefore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShowId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeasonNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EpisodesPerSeason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EpisodeLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorthIt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Watchedbefore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUtc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
